<div class="wrap" ng-show="!loggingIn">
    <div class="row push--top push-2--top--medium push-3--top--medium">
        <div class="col-12 col-6--medium col-4--large col-push-3--medium col-push-4--large">
            <div class="border rounded shadow--light soft soft-2--medium background--white">
                <h2 class="beta uppercase">{{ 'app.login.title.main' | translate }}</h2>
                <hr class="push--top" />
                <form id="loginForm" novalidate>
                    <label class="block push--top" for="credentials.username">{{ 'app.login.field.username.title' | translate }}</label>
                    <input class="width-full" type="text" ng-model="credentials.user.username" name="username" id="username" required="required" />
                    <label class="block push--top" for="password">{{ 'app.login.field.password.title' | translate }}</label>
                    <input class="width-full" type="password" ng-model="credentials.user.password" name="password" id="password" required="required" />
                    <ss-error-messages></ss-error-messages>
                    <input type="submit" ng-click="login()" value="{{ 'app.login.button.login' | translate }}" />
                </form>
            </div>
        </div>
    </div>
</div>
<ss-loader ng-show="loggingIn"></ss-loader>
