<div class="row">
    <ss-date-picker model="dateOne" max="today" main="12" sub="12" label="Date with maximum date"></ss-date-picker>
    <ss-date-picker model="dateTwo" min="minDate" main="12" sub="12" label="Date with minimum date"></ss-date-picker>
    <ss-date-picker model="dateSet" min="minDate" main="12" sub="12" label="Date with preselected date"></ss-date-picker>
    <ss-date-picker model="dateThree" main="12" sub="12" required="true" label="Date with required true"></ss-date-picker>
</div>
