<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12 col-8--medium">
                <div class="padding-header text-center--medium">
                    <span class="fa fa-list head-icon {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.notifications.title.main' | translate }}</h2>
                    <p class="white {{animation.headText}}">{{ 'app.notifications.title.sub' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="webappUrl + '/notifications/breadcrumbs.template.html'" class="overflow-hidden block"></div>
<ss-loader ng-show="state == 'searching'"></ss-loader>
<div class="push--bottom clearfix" ng-class="{ 'field-errors': errors.length > 0 }">
    <div class="wrap push-2--top">
        <div class="row">
            <div class="col-8--medium col-12">
                <div class="border background--white rounded shadow--light">
                    <div class="soft soft-2--medium">
                        <h4 class="push--bottom">{{ 'app.notifications.section.available.title' | translate }}</h4>
                        <div ng-if="!availableWorkTasks.length">
                            <div class="info-message">
                                <h3 class="beta"><i class="fa fa-info-circle"></i> {{ 'app.global.fyi' | translate }}:</h3>
                                <ul class="list-disc">
                                    <li>{{ 'app.notifications.section.available.noAvailable' | translate }}</li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="availableWorkTasks">
                            <ang-accordion one-at-a-time="true" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">
                                <collapsible-item item-title="{{task.taskName}}" ng-repeat="task in availableWorkTasks">
                                    <div class="row list-available">
                                        <div class="col-12">
                                            <button ng-click="doneWorkTask(task);" class="pull-right">
                                                <span class="fa fa-check"></span> {{ 'app.global.button.done' | translate }}</button>
                                            <p><strong>{{task.taskCreatedOn | fullDateUTC }}</strong></p>
                                            <p class="author" ng-if="task.logbooknumber.customerNumber">
                                                <strong>{{ 'app.global.customerNumber' | translate }}:</strong>
                                                <br/>{{task.logbooknumber.customerNumber}}</p>
                                            <p ng-if="task.taskStatus">{{ 'app.notifications.section.available.status' | translate }}:
                                                <span class="status-{{task.taskStatus}}">{{task.taskStatus}}</span>
                                            </p>
                                            <p ng-if="task.taskDescription">{{ 'app.notifications.section.available.desc' | translate }}: {{task.taskDescription}}</p>
                                        </div>
                                    </div>
                                </collapsible-item>
                            </ang-accordion>
                        </div>
                        <ss-error-messages></ss-error-messages>
                    </div>
                </div>
            </div>
            <div class="col-4--medium col-12" ng-if="cheesecake">
                <div class="border background--white rounded shadow--light">
                    <div class="soft soft-2--medium">
                        <h4 class="push--bottom">{{ 'app.notifications.section.completed.title' | translate }}</h4>
                        <div ng-if="!completedWorkTasks.length">
                            <div class="info-message">
                                <h3 class="beta"><i class="fa fa-info-circle"></i> {{ 'app.global.fyi' | translate }}:</h3>
                                <ul class="list-disc">
                                    <li>{{ 'app.notifications.section.completed.noCompleted' | translate }}</li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="completedWorkTasks">
                            <div ng-repeat="task in completedWorkTasks" class="list-complete">
                                <p class="border--bottom soft--ends line-through">
                                    <span class="fa fa-check icn"></span> {{task.taskName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
