<div class="mb-box-holder" ng-mouseover="pauseMessages(true)" ng-mouseleave="pauseMessages(false)">
    <div class="close-all animated" ng-click="removeAllMessages();" ng-if="messages.length" ng-class="{'bounceOutUp' : !messages.length, 'bounceInDown' : messages.length}">{{ 'app.global.closeAll' | translate }}
        <em ng-if="paused">
            <small>(Paused)</small>
        </em>
        <span class="mb-close fa fa-close"></span>
    </div>
    <div role="alert" class="mb-box shadow--light {{message.type}} animated" ng-class="{'fadeOutDown' : message.dismiss === true, 'bounceInDown' : message.dismiss === false}" ng-repeat="message in messages" ng-init="progress(messages, message)">
        <span class="mb-close fa fa-close" ng-click="removeItem(messages, message)"></span>
        <div class="inner">
            <span class="line">
                <span style="height: {{message.percent}}%"></span>
            </span>
            <span class="icon fa fa-warning" ng-if="message.type === 'warning'"></span>
            <span class="icon fa fa-info" ng-if="message.type === 'info'"></span>
            <span class="icon fa fa-thumbs-up" ng-if="message.type === 'success'"></span>
            <span class="icon fa fa-warning" ng-if="message.type === 'error'"></span>
            <p>{{ message.message | translate }}</p>
            <p ng-if="message.link">
                <br/>
                <span class="button alt" ng-click="goToPage(message.link, true); removeItem(messages, message);">{{message.linkText | translate}}</span>
            </p>
        </div>
        <span class="ns-close"></span>
    </div>
</div>
