<h4 class="beta uppercase">Back To Top</h2>

<div class="row" style="height: 3000px;">
    <div class="col-5--medium rel">
        <div class="editor">
            <p>Scroll this page to trigger the back to top button.</p>
            <div ng-include="'components/back-to-top/example.template.html'"></div>
        </div>
    </div>
    <div class="col-7--medium">
        <div class="example push--ends">
			<pre><code class="language-markup" ss-prism type="true" ng-include="'components/back-to-top/example.template.html'"></code></pre>
		</div>
	</div>
</div>
