<ss-button icon="fa-trash" text="Delete" action="alert('Item Deleted')" classes="inline-block" type="alert"></ss-button>
<ss-button icon="fa-close" text="Warning" action="alert('Are you sure?')" classes="inline-block" type="warning"></ss-button>
<ss-button icon="fa-pencil" text="Primary" action="alert('Item Clicked')" classes="inline-block" type="primary"></ss-button>
<ss-button icon="fa-print" text="Secondary" action="alert('Item Printed')" classes="inline-block" type="secondary"></ss-button>
<ss-button text="No Icon" action="alert('Item Clicked')" classes="inline-block" type="primary"></ss-button>
<ss-button icon="fa-pencil" action="alert('Item Clicked')" classes="inline-block" type="primary"></ss-button>
