<div class="soft soft-2--medium border background--white rounded shadow--light clearfix">
    <h4 class="beta uppercase">{{ 'app.customerSummary.section.customerDetails.title' | translate }}</h4>
    <table class="push--top summary-table">
        <tbody>
            <tr>
                <th width="40%">{{ 'app.global.customerID' | translate }}</th>
                <td>{{customer.vesselName}}</td>
            </tr>
            <tr>
                <th>{{ 'app.global.customerForename' | translate }}</th>
                <td>{{customer.customerForename}}</td>
            </tr>
            <tr>
                <th>{{ 'app.global.customerSurname' | translate }}</th>
                <td>{{customer.customerSurname}}</td>
            </tr>
        </tbody>
    </table>

</div>