<div class="push--bottom clearfix" ng-class="{ 'field-errors': errors.length > 0 }">
    <div class="border background--white rounded shadow--light">
        <div class="soft soft-2--medium">
            <div class="clearfix push--bottom">
                <h4>{{ 'app.wholesale.section.step2.title1' | translate }}</h4>
                <div class="row">
                    <div class="col-12 col-10--medium">
                        <div class="row">
                            <ss-date-picker model="entry.activityDate" max="today" main="12" sub="4" required="true" label="app.global.activityDate" hint="app.global.select" inc="100"></ss-date-picker>
                            <div class="col-3--medium col-12">
                                <label for="depTime">{{ 'app.global.activityTime' | translate }}</label>
                                <ss-time-picker model="entry.activityTime"></ss-time-picker>
                            </div>
                        </div>
                        <div class="row">
                            <ss-date-picker model="entry.renewalDate" min="entry.activityDate" max="today" min="newMinDate" main="12" sub="4" required="true" label="app.global.renewalDate"></ss-date-picker>
                            <div class="col-3--medium col-12">
                                <label for="retTime">{{ 'app.global.renewalTime' | translate }}</label>
                                <ss-time-picker model="entry.renewalTime" min="newMinDate"></ss-time-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ss-error-messages></ss-error-messages>
        </div>
        <div class="step-bar">
            <div class="soft soft-2--medium clearfix">
                <button class="pull-right push-0--top" ng-click="step2Done()">{{ 'app.global.button.next' | translate }}</button>
                <button class="secondary pull-left push-0--top" ng-click="showStep(1)">{{ 'app.global.button.back' | translate }}</button>
            </div>
        </div>
    </div>
</div>
