<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="padding-header text-center--medium">
                    <span class="fa fa-tasks head-icon head-icon--small {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.wholesale.name' | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="webappUrl + '/customer/breadcrumbs.template.html'" class="overflow-hidden block"></div>
<div class="wrap">
    <div class="progress-wrap shadow--light--right border" ng-hide="loading === true">
        <ol class="track-progress" data-steps="4">
            <li class="todo" ng-class="{'current': currentStep===1, 'done': currentStep>1}" ng-click="showStep(1)">
                <span>1. {{ 'app.wholesale.steps.step1' | translate }}</span>
                <i class="fa" ng-class="{'fa-circle': currentStep===1, 'fa-check': currentStep>1}"></i>
            </li>
            <li class="todo" ng-class="{'current': currentStep===2, 'done': currentStep>2}" ng-click="showStep(2)">
                <span>2.{{ 'app.wholesale.steps.step2' | translate }}</span>
                <i class="fa" ng-class="{'fa-circle': currentStep===2, 'fa-check': currentStep>2}"></i>
            </li>
            <li class="todo" ng-class="{'current': currentStep===3, 'done': currentStep>3}" ng-click="showStep(3)">
                <span>3. {{ 'app.wholesale.steps.step3' | translate }}</span>
                <i class="fa" ng-class="{'fa-circle': currentStep===3, 'fa-check': currentStep>3}"></i>
            </li>
            <li class="todo" ng-class="{'current': currentStep===4, 'done': currentStep>4}" ng-click="showStep(4)">
                <span>4. {{ 'app.wholesale.steps.step4' | translate }}</span>
                <i class="fa" ng-class="{'fa-circle': currentStep===4, 'fa-check': currentStep>4}"></i>
            </li>
        </ol>
    </div>
    <ss-loader ng-show="loading === true"></ss-loader>
    <div ng-hide="loading === true">
        <div ng-include="'customer/create/wholesale/step1.template.html'" ng-show="currentStep===1"></div>
        <div ng-include="'customer/create/wholesale/step2.template.html'" ng-show="currentStep===2"></div>
        <div ng-include="'customer/create/wholesale/step3.template.html'" ng-show="currentStep===3"></div>
        <div ng-include="'customer/create/wholesale/step4.template.html'" ng-show="currentStep===4"></div>
    </div>
</div>
