<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12 col-8--medium">
                <div class="padding-header text-center--medium">
                    <span class="fa fa-dashboard head-icon {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.dashboard.head.main' | translate }} {{user.name}}</h2>
                    <p class="white {{animation.headText}}">{{ 'app.dashboard.head.sub' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="webappUrl + '/dashboard/breadcrumbs.template.html'" class="overflow-hidden block"></div>
<div class="wrap">
    <div class="row push--top push-2--top--medium">
        <div class="col-12">
            <div id="applications" class="row">
                <div class="col-12 col-6--medium" ng-repeat="app in navOptionsVert.pages | filter: { dash: true }" roles="{{app.roles}}">
                    <div class="push-2--bottom soft soft-2--medium border background--white rounded shadow--light {{app.disabled}} pointer" ng-click="goToPage(app.link)">
                        <div class="row text-center--medium">
                            <div class="col-12 col-2--large">
                                <a class="icon-wrap {{app.disabled}} animated" ng-mouseover="app.active = true" ng-mouseleave="app.active = false" ng-class="{'pulse' : app.active}">
                                    <i class="fa {{app.icon}}"></i>
                                </a>
                            </div>
                            <div class="col-12 col-10--large">
                                <h4 class="beta uppercase"><a class="link-color {{app.disabled}}">{{ app.title | translate }}</a></h4>
                                <p class="push--top {{app.disabled}}">{{ app.description | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
