<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="padding-header text-center--medium">
                    <span class="fa fa-tasks head-icon head-icon--small {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.forms.name' | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="webappUrl + '/customer/breadcrumbs.template.html'" class="overflow-hidden block"></div>
<div class="wrap">

    <ss-loader ng-show="loading === true"></ss-loader>
    <div ng-hide="loading === true">

    <ss-button icon="fa-pencil" text="Form 1" action="getForm('1')" classes="inline-block push--right" type="primary"></ss-button>
    <ss-button icon="fa-pencil" text="Form 2" action="getForm('2')" classes="inline-block" type="primary"></ss-button>

        <div>
            <textarea json-text ng-model="textForm" ng-change="parseEntry()" class="push-2--top"></textarea>
        </div>

        <div class="push--bottom push-2--top clearfix" ng-class="{ 'field-errors': errors.length > 0 }" ng-if="genForm">
            <div class="border background--white rounded shadow--light">
                <div class="soft push--bottom clearfix">
                    <div class="col-12 push--top">
                        <h4>{{genForm.name}}</h4>
                    </div>

                    <form name="myForm" class="form-horizontal" role="form" ng-submit="submitForm(genForm.endpoint)" class="push--bottom">
                        <div ng-repeat="field in genForm.fields">

                            <!-- TEXT FIELDS -->
                            <div ng-if="field.type=='text'" class="col-6--medium col-12">
                                <label class="col-sm-2 control-label">{{field.label}}</label>
                                <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control" required/>
                            </div>

                            <!-- EMAIL FIELDS -->
                            <div ng-if="field.type=='email'" class="col-6--medium col-12">
                                <label class="col-sm-2 control-label">{{field.label}}</label>
                                <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" class="form-control" required/>
                            </div>

                            <!-- PASSWORD FIELDS -->
                            <div ng-if="field.type=='password'" class="col-6--medium col-12">
                                <label class="col-sm-2 control-label">{{field.label}}</label>
                                <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" ng-minlength={{field.min}} ng-maxlength={{field.max}} class="form-control" required/>
                            </div>

                            <!-- SELECT FIELDS -->
                            <div ng-if="field.type==='select'">
                                <ss-select model="field.data" name="blank.data" options="field.options" main="12" sub="6" required="true" label="{{field.label}}" hint="Please Select..."></ss-select>
                            </div>

                            <!-- RADIO FIELDS -->
                            <div ng-if="field.type=='radio'" class="col-6--medium col-12">
                                <label class="col-sm-2 control-label">{{field.label}}</label>

                                <div class="row">
                                    <div ng-repeat="option in field.options">
                                        <ss-checkbox type="radio" text="{{option.name}}" uniq="{{option.id}}" model="field.data" main="6" sub="3"></ss-checkbox>
                                    </div>
                                </div>
                            </div>

                            <!-- CHECKBOX FIELDS -->
                            <div ng-if="field.type=='checkbox'" class="col-6--medium col-12">
                                <label class="col-sm-2 control-label">{{field.label}}</label>
                                <div class="row">
                                    <div ng-repeat="option in field.options">
                                        <ss-checkbox type="checkbox" text="{{option.name}}" uniq="option.id" model="option.data" main="6" sub="3"></ss-checkbox>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </form>
                </div>

                <div class="step-bar">
                    <div class="soft soft-2--medium clearfix">
                        <button angular-ripple class="pull-right push-0--top" ng-click="step1Done()" ng-class="{'disabled' : !validCustomer}">{{ 'app.global.button.next' | translate }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
