<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12 col-8--medium">
                <div class="padding-header text-center--medium">
                    <span class="fa fa-newspaper-o head-icon {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.news.title.main' | translate }}</h2>
                    <p class="white {{animation.headText}}">{{ 'app.news.title.sub' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="push--bottom clearfix" ng-class="{ 'field-errors': errors.length > 0 }">
    <div class="wrap push-2--top">
        <div class="row">
            <div class="col-8--medium col-12 push--bottom">
                <div class="row" ng-if="!news.length">
                    <div class="col-12">
                        <div class="border background--white rounded shadow--light">
                            <div class="soft soft-2--medium">
                                <h4 class="push--bottom">{{ 'app.news.section.left.title' | translate }}</h4>
                                <div class="info-message">
                                    <h3 class="beta"><i class="fa fa-info-circle"></i> {{ 'app.global.fyi' | translate }}:</h3>
                                    <ul class="list-disc">
                                        <li>{{ 'app.news.section.left.noAvailable' | translate }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="news">
                    <div ng-repeat="entry in news" class="col-12">
                        <div class="border background--white rounded shadow--light soft push--bottom">
                            <h5>{{entry.title}}</h5>
                            <small>{{entry.publishedDate | fullDateUTC }}</small>
                            <p>{{entry.contentSnippet}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4--medium col-12 push--bottom">
                <div class="row" ng-if="!news.lengthOther">
                    <div class="col-12">
                        <div class="border background--white rounded shadow--light">
                            <div class="soft soft-2--medium">
                                <h4 class="push--bottom">{{ 'app.news.section.right.title' | translate }}</h4>
                                <div class="info-message">
                                    <h3 class="beta"><i class="fa fa-info-circle"></i> {{ 'app.global.fyi' | translate }}:</h3>
                                    <ul class="list-disc">
                                        <li>{{ 'app.news.section.right.noAvailable' | translate }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="news">
                    <div ng-repeat="entry in newsOther" class="col-12">
                        <div class="border background--white rounded shadow--light soft push--bottom">
                            <h4>{{entry.title}}</h4>
                            <small>{{entry.publishedDate | fullDateUTC }}</small>
                            <p>{{entry.contentSnippet}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
