<div class="bg-brand-light">
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="padding-header text-center--medium">
                    <span class="tag-label" ng-if="inArray(transMethods, customer.method)">
                        <span class="tail"></span>
                    <span class="fa fa-{{getIconType(customer.method)}}"></span> {{customer.method}}
                    </span>
                    <span class="fa fa-anchor head-icon {{animation.headIcon}}"></span>
                    <h2 class="beta uppercase white {{animation.headText}}">{{ 'app.customerSummary.title.main' | translate }}</h2>
                    <p class="white {{animation.headText}}">{{ 'app.global.customerID' | translate }}:
                        <span ng-if="customer.customerID">{{customer.customerID}}</span>
                        <span class="icon-click fa fa-info-circle" ng-click="openCustomers(customerIDs)" ng-if="customer.transmissionMethod === 'Paper'"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="webappUrl + '/customer/breadcrumbs.template.html'" class="overflow-hidden block"></div>
<div class="wrap">
    <ss-loader ng-hide="customer"></ss-loader>
    <div class="row" ng-show="customer">
        <div ng-show="customer" class="push--top">
            <div ng-include src="webappUrl + '/customer/summary/partials/customer-details.template.html'" class="col-6--medium col-12 push-2--bottom"></div>
            <div ng-include src="webappUrl + '/customer/summary/partials/address-details.template.html'" class="col-6--medium col-12 push-2--bottom"></div>
        </div>
    </div>
    <div class="row" ng-show="customer">
        <div ng-include src="webappUrl + '/customer/summary/partials/comments.template.html'" class="col-12 push-2--bottom"></div>
    </div>
</div>
