<div class="push--bottom clearfix" ng-class="{ 'field-errors': errors.length > 0 }">
    <div class="border background--white rounded shadow--light">
        <div class="soft soft-2--medium">
            <ang-accordion one-at-a-time="true" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">
                <collapsible-item initially-open="{'true' : date.date}" item-title="{{date.date ? makeDate(date.date) : 'Enter your fishing activity below'}}" ng-repeat="date in entry.dates">
                    <div class="row">
                        <div class="col-12">
                            <button class="iconButton alt flush pull-right" ng-show="entry.dates.length > 1" ng-click="removeFromArray(entry.dates, date)"><i class="fa fa-trash-o"></i></button>
                            <div class="row">
                                <ss-date-picker model="date.date" max="today" min="entry.activityDate" main="12" sub="6" large="4" required="true" label="app.global.activityDate" inc="$index"></ss-date-picker>
                            </div>
                            <div class="row">
                                <div class="col-12 col-2--medium">
                                    <label>{{ 'app.global.numberOfEmployees' | translate }}</label>
                                    <input type="number" step="any" ng-model="date.numberOfEmployees" ng-class="{'required' : !date.numberOfEmployees}" ng-init="date.numberOfEmployees=1" />
                                </div>
                                <div class="col-12 col-2--medium">
                                    <label>{{ 'app.global.contractLength' | translate }}</label>
                                    <input type="number" step="any" ng-model="date.contractLength" ng-class="{'required' : !date.contractLength}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </collapsible-item>
            </ang-accordion>
            <button class="push--ends alt" ng-click="addDate();" ng-class="{'disabled' : checkNextEntry(step3Valid(entry.dates, true), entry.dates) === false}">{{ 'app.retailer.button.addDate' | translate }}</button>
            <ss-error-messages></ss-error-messages>
        </div>
        <div class="step-bar">
            <div class="soft soft-2--medium clearfix">
                <button class="pull-right push-0--top" ng-click="step3Done()">{{ 'app.global.button.next' | translate }}</button>
                <button class="secondary pull-left push-0--top" ng-click="showStep(2)">{{ 'app.global.button.back' | translate }}</button>
            </div>
        </div>
    </div>
</div>
