<div class="breadcrumb-wrap">
    <div class="wrap">
        <ul class="breadcrumbs">
            <li ng-click="goToPage('dashboard', fmcType);">
                <span class="fa fa-home"></span> {{ 'app.dashboard.name' | translate }}</li>

            <li ng-show="breadcrumb == 'results' || breadcrumb == 'customer' || breadcrumb == 'search'" ng-click="goToPage('customer/search/edit', fmcType);" ng-class="{'active' : breadcrumb == 'search'}">{{ 'app.findCustomer.name' | translate }}</li>

            <li ng-show="breadcrumb == 'results' || breadcrumb == 'customer'" ng-class="{'active' : breadcrumb =='results'}" ng-click="goToPage('customer/search/results', fmcType);">{{ 'app.customerResults.name' | translate }}</li>

            <li ng-show="breadcrumb == 'customer' || fmcType && backToCustomer || breadcrumb === 'manual'" ng-class="{'active' : breadcrumb === 'customer'}" ng-click="goToPage('customer/summary/' + logbook, fmcType);">{{ 'app.customerSummary.name' | translate }}</li>

            <li ng-show="breadcrumb === 'create' || fmcType && !backToCustomer" ng-class="{'active' : breadcrumb === 'create'}" ng-click="goToPage('customer/create', fmcType);">{{ 'app.create.name' | translate }}</li>

            <li ng-show="breadcrumb === 'manual' || fmcType && backToCustomer" ng-class="{'active' : breadcrumb === 'manual'}" ng-click="goToPage('customer/create/manual/' + logbook, fmcType);">{{ 'app.manual.name' | translate }}</li>


            <li class="active" ng-if="fmcType">{{ fmcType | translate }}</li>
            <li class="active" ng-if="isDep">{{ isDep | translate }}</li>

        </ul>
    </div>
</div>
